## ⁠Display Fibonacci Series upto 10 terms

In [12]:
i = 1
j = 1
fib = []
for k in range(5):
    fib.append(i)
    fib.append(j)
    i = i + j
    j = i + j

In [13]:
print("Fibonacci series upto 10 terms:")
for term in fib:
    print(term)

Fibonacci series upto 10 terms:
1
1
2
3
5
8
13
21
34
55

## ⁠Display numbers at the odd indices of a list

In [20]:
for i in range(len(fib)):
    if i % 2 != 0:
        print(fib[i])

1
3
8
21
55

## Count the number of different words in this text

In [21]:
string = 'I have provided this text to provide tips on creating interesting paragraphs. First, start with a clear topic sentence that introduces the main idea. Then, support the topic sentence with specific details, examples, and evidence. Vary the sentence length and structure to keep the reader engaged. Finally, end with a strong concluding sentence that summarizes the main points. Remember, practice makes perfect!'

In [22]:
k = string.split(" ")
print("Total number of workds:", len(k))

Total number of workds: 62

## Function count_vowels(word) that returns the number of vowels in the word

In [23]:
def count_vowels(word):
    n = 0
    vowel = ['a', 'e', 'i', 'o', 'u']
    for i in word:
        if i in vowel:
            n += 1
    return n

In [24]:
count_vowels('adexifgzu') # test

4

## Print each list item in all caps.

In [25]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for element in animals:
    print(element.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

## Odd or even: 1 to 20

In [27]:
for i in range(20):
    i = i + 1
    if i % 2 == 0:
        print(i, "is even")
    else:
        print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

## Function sum_of_integers(a, b) that returns sum of input

In [28]:
def sum_of_integers(a, b):
    return a + b

In [ ]:
sum_of_integers(7, 5) # test

12

## Additional Challenge - Books data challenge

In [83]:
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

In [84]:
def check_rating(book):
    k = book['rating']
    if k <= 4:
        return 'low'
    elif k > 4.5:
        return 'High'
    else: 
        return 'Medium'

In [85]:
# Testing the function
book = {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
check_rating(book)

'Medium'

In [86]:
def average_rating_by_genre(books, genre):
    rating = []
    for item in books:
        if item['genre'] == genre:
            rating.append(item['rating'])
    if len(rating) > 0:
        return f"The average rating of {genre} is {sum(rating)/len(rating)}"
    else:
        return "The genre dosn't exist in the list"

In [87]:
average_rating_by_genre(books, 'Coming-of-age') # test

'The average rating of Coming-of-age is 4.1'

In [90]:
def books_by_author(books, author):
    author_book = []
    for item in books:
        if item['author'] == author:
            author_book.append(item['title'])
    if len(author_book) > 0:
        return author_book
    else:
        return "The book of the given author doesn't exist in the list of books."

In [91]:
books_by_author(books, 'Komal Niraula') # test

"The book of the given author doesn't exist in the list of books."